
/*=== 公用 变量 ==*/
$red    = #e01e3c
$yellow = #ffd618
$orange = #ff9018
$black  = #222
$blue   = #2d8cf0
$white  = #fff

$bgred  = #d52b2b 
$bgyellow  = #ffff00 


.red
	color red
.yellow
	color yellow
.orange
	color orange
.black 
	color black
.white
	color white