@import '~@shared/stylus/common.styl'
@import '~@shared/styles/public.styl'


.container-margin
  mt 115px
  mb 115px

.product-box
  background: #fff
  mar 0 0 100px
  pad 0 20px
  display: flex;
  .product-box__content
    w 41%
    color: #a9adb0
    fs 14px
    ml -81%
    pad 70px 0
    h2
      fs 50px
      color #222
      mb 20px
      mt 40px
      font()
    p
      mb 20px
      fw 500
      color #8c8c8c
    li
      pl 25px
      mb 15px
      font()
      rel()
      &:after
        content ''
        wh 4px 4px
        borr 50%
        background: #919191
        abs left 3px top 8px
      &:before
        content ''
        wh 6px 6px
        borr 50%
        border: 2px solid #e6e6e6;
        abs left 0 top 5px
    .price
      pt 30px
      font-A()
      color #222
      fs 22px
    .buttons
      mt 25px
      a
        mr 20px
  .product-box__img
    w 41%
    ml 50%
    align-self: center
