@import '~@shared/stylus/common.styl'
@import '~@shared/styles/public.styl'

img
  max-width 100%
  max-height 100%

body
  pt 80px

#main-content
  mar 100px auto
  pad 50px
  pb 200px
  background #fff


.job-center
  width: 730px;
  mar 0 auto
  p
    mb 10px