// .btn
//   db()
//   tc()
//   border 0
//   w 100%
//   lhh 80px
//   borr 4px
//   background $orange
// .btn-red
// 	bgcolor #83b65a
// 	color #fff
// 	&:hover
// 		bgcolor @background-color+30
// .btn-blue
// 	bgcolor #3f91f6
// 	color #fff
// 	&:hover
// 		bgcolor #64a8fb
// .btn-red
// 	bgcolor bgred
// 	&:hover
// 		bgcolor @background-color - 60
// 		color #fff

// .btn-yellow
// 	bgcolor bgyellow
// 	color #66420c
// 	&:hover
// 		bgcolor #66420c
// 		color #fff