


@font-face{
 font-family: 'NeuzeitGro';
 src: url('~@shared/styles/font/NeuzeitGro-Bol.ttf'), url('~@shared/styles/font/NeuzeitGro-Bol.woff');
}

@font-face{
 font-family: 'AlternateGotNo2D';
 src: url('~@shared/styles/font/AlternateGotNo2D.ttf'), url('~@shared/styles/font/AlternateGotNo2D.woff');
}

font()
  font-family  "NeuzeitGro", "Helvetica Neue", "Helvetica", sans-serif
font-def()
  font-family: '微软雅黑'
font-A()
  font-family "AlternateGotNo2D"
full()
  wh 100% 100%

body
  color #222
  min-width 1100px
  padding-top 50px
  font-def()
  background: #f7f7f8;

body.hidden
  wh 100% 100%
  overflow hidden

h3
  font-family 'NeuzeitGro'

img
  max-width: 100%;

a
  color inherit

.iconfont
  fs 22px

.flex-center
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

.container
  w 85%
  margin 0 auto
  max-width 1500px

.section-container
  margin 0 auto;

.button-holder
  border 2px solid #bec1c3
  lh 39px
  borr 22px
  pad 0 38px
  fs 18px
  tc()
  dib()
  ov()
  rel()
  cur()
  font-def()
  .mask
    abs left 0 top 0
    db()
    background: #bec1c3
    wh 100% 100%
    z-index 1
    transition all .35s
    transform: translateY(100%)
  .button-inner
    rel()
    z-index 2
    transition all .35s
  &:hover .button-inner
    color #222
  &:hover .mask
    transform: translateY(0)
  &.button-holder--black
    border 2px solid #222
    color #222
    .mask
      background: #222;
    &:hover .button-inner
      color #fff
  &.button-holder--red
    border 0
    background: #e01e3c
    color: #fff
    pt 2px
    pb 2px
    .mask
      background: #fff
    &:hover .button-inner
      color #222
  &.button-holder--red2
    border 0
    background: #e01e3c
    color: #fff
    pt 2px
    pb 2px
    .mask
      background: #222
    &:hover .button-inner
      color #fff
  &.button-holder--big
    pl 60px
    pr 60px
  &.button-holder--disabled
    opacity: .5;
    background: #ccc;
    color #fff;

header#header
  h 80px
  pad 20px 0 0
  background-color #161616
  color #fff
  position fixed
  left: 0
  right: 0
  top: 0
  min-width 900px
  z-index: 99
  > .container
    rel()
    h 40px
  .logo
    abs left 0 top 0
    z-index 99
  .right-icon
    abs right 0 top 0
    z-index 21
    cur()
    h 100%
    i{
      fs 18px
      fw 700
    }
  nav
    fs 18px
    flex-center()
    ul
      pad 7px 40px 0 70px
    li
      fl()
      w 130px
      tc()
    .hover a
        rel()
        &:after
          content ''
          db()
          wh 35px 3px
          background: $red;
          abs3 left 0 right 0 bottom -10px
          mar 0 auto
          transition:  all .35s
          opacity: 0;
          transform: translateY(10px)
        &:hover:after
          transform: translateY(0)
          opacity: 1;
      &.active a:after
        transform: translateY(0)
        opacity: 1;

      i
        color #ccc
        vertical-align: top
        dib()
        transition: all .35s
      .arrow-active
        transform: rotate(180deg);
        color: $red;
    li.last
      w 12%
      i{
        fs 26px
      }

.header-mask
  position: fixed
  left 0
  top 0
  right 0
  bottom 0
  z-index  20
  background rgba(0,0,0,.6)


.header-mask__body
  min-width 900px
  w 100%
  background rgba(0,0,0,.6)
  .container
    display: flex
    pt 97px
    img
      w 100%
  .header-mask__body__browse
    w 16%
    justify-content: left
    > div
      mt -40px
    .button-holder
      fs 16px
      lh 36px
    h2
      color: #fff;
      fs 20px
      font-weight 500
      mar 0 0 25px
      text-transform: none;
      font()
    li
      margin-bottom 25px
      color: #bec1c3;
      fs 16px
      white-space nowrap
      font-A()
      > a
        rel()
        &:after
          content ''
          abs left 50% bottom -3px
          wh 20px 3px
          ml -10px
          background: red;
          transition: all .35s
          transform: scale(0)
        &:hover:after
          transform: scale(1)

  .header-mask__body__group 
    w 83%
    white-space:nowrap
    fs 0
    .image-wrapper
      fl()
      dib()
      rel()
      w 20%
      pad 0 20px 20px 0
      &:after
        content ' '
        fl()
        pt 100%
      .image__content
        pad 0 18%
        background: #fff
        abs3 left 0 top 0 right 20px
        bottom 20px
        @extends .flex-center
        flex-direction: column
        span
          fs 14px
          color #222
          tc()
          db()
          mt 10px
      &:last-child
        .image__content
          borr 50%
          ov()
          > span
            abs left 0 top 0
            wh 100% 100%
            background rgba(0,0,0,.5)
            fs 14px
            color #fff
            borr 50%
            mar 0
            @extends .flex-center
    .main-img
      w 40%
      pad 0 20px 20px 0
      rel()
      &:after
        pt 0
      p
        color #a7a6a6
        w 100%
        fs 14px
        font()
        pt 20px
        tc()

.header-search
  position: fixed;
  left 0
  right 0
  bottom 0
  top 0
  background: rgba(26, 27, 28, 0.9)
  z-index: 30
  > .container
    max-width: 1180px;
    margin: 0 calc(7.5% - -120px);
    display: flex;
    justify-content: center;
    align-items: center;
    height 80px
    rel()
  .search
    flex 1;
    input
      background: #161616;
      border: 3px solid #161616;
      wh 100% 50px
      lh 50px
      borr 25px
      fs 24px
      pad 0 40px
      pt 6px
      color #fff
      font()
      &:focus
        border: 3px solid #8c8c8c;
  .search-close
    wh 40px 40px
    borr 50%
    border: 2px solid #363636;
    ml 50px
    cur()
    @extends .flex-center;
  .search-box
    abs left 0 right 0
    top 100%
    pt 80px
    background: #161616
    box-shadow: 0 13px 35px 0 rgba(0, 0, 0, 0.25);
    padding: 30px 40px 50px;
    mt 31px
    p
      mb 20px
      fs 14px
    li
      fl()
      mr 40px
      mb 10px
       border-bottom: 1px solid #161616
      &:hover
        border-bottom: 1px solid $red



.fade-enter-active, .fade-leave-active {
  transition: opacity .45s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.animate-fade
  transition: all .95s
  transform: translateY(20px)
  opacity 0

$animateList = (1 .15s) (2 .19s) (3 .23s) (4 .27s) (5 .31s) (6 .35s) (7 .39s)

for ani in $animateList
  .animate-fade-active .animate-fade{ani[0]}
    animation: animate-fade-active .55s ani[1] forwards;


@keyframes animate-fade-active {
  form{
    transform: translateY(20px)
    opacity 0
  }
  to{
    transform: translateY(0)
    opacity 1
  }
}


#footer
  pt 90px
  background: #fff
  .grid
    display: flex
    .logo
      w 25%
    .grid__links
      flex 1
      pb 80px
      display: flex
      .grid__links__item
        flex 1
  h2
    fs 20px
    mb 20px
  li
    mb 18px
    color: #a7a6a6
    a
      rel()
      &:after
        content ''
        abs left 0 bottom 0
        wh 100% 2px
        background: $red
        transition:  all .35s
        transform: translateY(5px)
        opacity 0
      &:hover:after
        transform: translateY(0)
        opacity 1
  .copyright
    tc()
    fs 10px
    color: gray
    pb 10px


figure
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

.banner-pages
  min-height: 405px
  rel()
  @extends .flex-center;
  figure
    abs left 0 top 0
    wh 100% 100%
  h1
    fs 70px
    color #fff
    rel()
    z 2
    tc()


.pagination{
	text-align: center;
	li{
    display: inline-block;
    a{
      db()
      font-size: 14px;
      width: auto;
      line-height: 30px;
      padding: 0 12px;
      border: 1px solid #dcdee2;
      border-radius: 2px;
    }
    cursor: pointer;
    margin-right: 7px;
    &.disabled a{
      cursor: no-drop;
      opacity: .6;
    }
    &.active a{
      color: #fff;
      border: 1px solid $blue;
      color: $blue;
    }
	}
}