
body
  color #222
  min-width 1100px
  padding-top 50px

.iconfont
  fs 22px

.flex-center
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

.container
  w 85%
  margin 0 auto

.section-container
  margin 0 auto;


header#header
  h 80px
  pad 20px 0 0
  background-color #161616
  color #fff
  position fixed
  left: 0
  right: 0
  top: 0
  > .container
    rel()
    h 40px
    z-index 21
  .logo
    abs left 0 top 0
    z-index 21
  .right-icon
    abs right 0 top 0
    z-index 21
    h 100%
    i{
      fs 18px
      fw 700
    }
  nav
    fs 18px
    ul
      pad 7px 40px 0 70px
    li
      fl()
      w 22%
      tc()
      i{
        color #ccc
        vertical-align: bottom
        display: inline-block
      }
    li.last
      w 12%
      i{
        fs 26px
      }

.header-mask
  position: fixed
  left 0
  top 0
  right 0
  bottom 0
  z-index  20
  background rgba(0,0,0,.6)


.header-mask__body
  w 100%
  background rgba(0,0,0,.4)
  .container
    display: flex
    pt 97px
    img
      w 100%
  .header-mask__body__browse
    w 16%
  .header-mask__body__group
    w 83%
    white-space:nowrap;
    font-size:0;
    .img
      fl()
      dib()
      w 20%
      pad 0 20px 20px 0
    .main-img
      w 40%
      pad 0 20px 20px 0