@import '~@shared/stylus/common.styl'
@import '~@shared/styles/public.styl'

img
  db()
  max-width 100%
  max-height 100%

body
  pt 80px

#main-content
  mar 100px auto
  pad 50px
  pb 200px
  background #fff
  h2
    fs 30px
    mb 40px
    tc()

.feedback
  width: 900px;
  mar 0 auto
  display: flex;
  flex-wrap: wrap;
  pl 76px
  .group
    w 50%
    pr 20px
    display: flex;
    mb 25px
    rel()
    .label
      w 60px
      lh 36px
      &.label--full
        w 100%
    .content
      flex 1
      input.input 
        border: 1px solid #dedfe0;
        wh 250px 36px
        borr 4px
        pl 10px
      textarea
        border: 1px solid #dedfe0;
        wh 311px 100px
        borr 4px
        pad 5px
      label
        mr 10px
    .error
      abs left 60px top 38px
      color $red
      fs 12px
    .error--big
      left 0
      top 136px
  .group--full
    w 100%
    display: block;
  .group--column
    flex-direction: column;
  .group--error
    .content
      input.input, textarea
        border 1px solid $red
  
.group-btn
  pt 50px
  tc()
  > a
    mar 0 20px

.group-error
  wh 100% 30px
  tc()
  color $red
  fs 16px